<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="public/css/style.css" />
  </head>
  <body>
    <div class="todo-form">
      <h2>Add Todo</h2>
      <form method="post" action="/form-submit">
        <div class="form-group">
          <label for="name">Name</label>
          <input type="text" id="name" name="name" required />
        </div>
        <div class="datecategorycontainer">
          <div style="width: 50%" class="form-group">
            <label for="date">Date</label>
            <input type="date" id="date" name="date" required />
          </div>
          <div style="width: 50%" class="form-group">
            <label for="category">Category</label>
            <select id="category" name="category" required>
              <option value="" disabled selected>Select a category</option>
              <option value="work">Work</option>
              <option value="personal">Personal</option>
              <option value="shopping">Shopping</option>
            </select>
          </div>
        </div>
        <button type="submit">Add Todo</button>
      </form>
    </div>

    <div class="todo-list">
      <% if(tempTodos.length > 0){ %>
      <button
        style="margin-bottom: 20px"
        class="delete-button"
        type="button"
        onclick="collectCheckedTodos()"
      >
        Delete Selected Tasks
      </button>
      <% } %>

      <ul>
        <% for (let key = 0; key < tempTodos.length; key++) { %> <% let todo =
        tempTodos[key]; %>
        <li class="todo-item">
          <label class="checkbox">
            <input
              data-todo-id="<%= todo._id %>"
              type="checkbox"
              class="checkbox"
            />
          </label>
          <div class="todo-details">
            <h3 class="todo-name"><%= todo.name %></h3>
            <div style="display: flex; gap: 10px; align-items: center">
              <p class="todo-date"><%= todo.date %></p>
              <div class="chip todo-category"><%= todo.category %></div>
            </div>
          </div>
          <button onclick="deleteTodo('<%= todo._id %>')" class="delete-button">
            Delete
          </button>
        </li>
        <% } %>
      </ul>
    </div>

    <script>
      async function collectCheckedTodos() {
        const checkboxes = document.querySelectorAll(
          ".todo-item input[type='checkbox']"
        );
        const checkedTodos = [];

        checkboxes.forEach((checkbox) => {
          if (checkbox.checked) {
            const todoId = checkbox.dataset.todoId; // Add a data attribute to store todo id
            checkedTodos.push(todoId);
          }
        });

        if (checkedTodos.length > 0) {
          const response = await fetch(
            `/todo-delete-group?deletelist=${checkedTodos.toString()}`,
            {
              method: "GET",
            }
          );
          // const response = await fetch(`/todo-delete-group`, {
          //   method: "POST",
          //   headers: {
          //     "Content-Type": "application/json",
          //   },
          //   body: JSON.stringify({ todos: checkedTodos }),
          // });
        } else {
          window.alert("No todos were checked.");
        }
      }
      async function deleteTodo(id) {
        const response = await fetch(`/todo-delete/${id}`, {
          method: "DELETE",
          headers: {
            "Content-Type": "application/json",
          },
        });
        console.log(response);
        location.reload();
      }
    </script>
  </body>
</html>
